nav
{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 60px;
    padding: 10px;
    background-color: #000000;
}

nav a
{
    text-decoration: none;
    color: #cacaca;
    font-weight: bold;
}

nav a:hover
{
    color: #ffffff;
}
